#top250{
  position: relative;
  padding: 10px 20px;
  .loading{
    position: absolute;
    top: 50%;
    margin-top: -25px;
  }
  .moreLoading{
    vertical-align: middle;
  }
  .load{
    line-height: 24px;
    font-size: 16px;
  }
  .mu-toast{
    margin-left: calc(~"50% - 144px");
    top: 132px
  }
}
